@model Hedgehogs.MVC.Models.HedgehogPostRequest

<div class="col-md-5">
    @using (Html.BeginForm("Create", "Hedgehog", FormMethod.Post))
    {

        <h2 class="form-signin-heading">Create A New Hedgehog</h2>



        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", required = "" })


        @Html.TextBoxFor(h => h.SpikeCount, new { @class = "form-control", placeholder = "Spike Count", required = "", type = "number", min = "0" })


        @Html.TextBoxFor(h => h.Radius, new { @class = "form-control", placeholder = "Radius", required = "", type = "number", min = "0", step= "0.01" })



        @Html.TextBoxFor(h => h.PictureUrl, new { @class = "form-control", placeholder = "ImageURL", required = "", type = "url" })


        @Html.TextAreaFor(h => h.Description, new { @class = "form-control", placeholder = "Description", type = "text" })
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

    }
</div>